{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1>Queen!</h1>
    <p class="author">By Obi-Wan Kenobi</p>
    <p class="date"> Band was formed in April of 1970</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        Queen was a British rock band that formed in London in 1970. It was one of the most commercially successful music acts of all time. The band members were Freddie Mercury (lead vocals, piano), Brian May (guitar, vocals), Roger Taylor (drums, vocals), and John Deacon (bass guitar).
      </p>
    </div>
  </div>
  <div class="row">
  {% for members in data.members %}
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="img/members/{{ members.image }}" alt="Band Member Photo">
      <div class="card-body">
        <h5 class="card-title"> {{ members.name }} </h5>
        <a href="freddie-mercury.html" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}
