{% extends '_layouts/base.njk' %}

{% block page_title %} Queen {% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    {% for members in data.members %}
    <div class="col-sm-12 col-md-6 col-lg-3" style="margin-top: 50px; margin-bottom: 50px">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="img/members/{{ members.image }}" alt="Band Member Photo">
          <div class="card-body">
            <h1 class="card-title" style="text-align:center"> {{ members.name }} </h1>
            <a href="{{ members.slug }}.html" class="btn btn-dark btn-block">Learn More</a>
         </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <iframe title="Queen's Billboard Hits" aria-label="Bar Chart" id="datawrapper-chart-gA1oy" src="//datawrapper.dwcdn.net/gA1oy/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="678"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
    </div>
  </div>
</div>
{% endblock %}
