<footer>
<!--
<p>Bohemian Rhapsody, 1975</p>
<iframe src="https://open.spotify.com/embed/track/1AhDOtG9vPSOmsWgNW0BEY" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<object type="application/x-shockwave-flash" width="224" height="25" style="align: right" data="https://www.youtube.com/v/fJ9rUzIMcZQ?version=2&enablejsapi=1&hd=1&theme=dark"><param name="movie" value="https://www.youtube.com/v/fJ9rUzIMcZQ?version=2&enablejsapi=1&hd=1&theme=dark" /><param name="wmode" value="transparent" /></object> -->

<p id="legal" class="center-block text-center">
  <small>&copy; <span class="copyright-year"></span>
  A final project by Rachel Jackson.
</p>
</footer>
