.jumbotron.banner {
  /* background: url(../img/queen-band-wallpaper.jpg), no-repeat center center fixed;;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 0 50% 0; */
  color: black;
}

.jumbotron {
  margin-bottom: 0px;
  margin-top: 0px;
}
