/* nav */

.navbar {
  margin-bottom: 20px;
}
.bg-dark-purple{
  background-color: #563d7c;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
  -o-object-fit: contain;
  object-fit: contain; 
}
